@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@400;500&display=swap");
.Default-layout {
  /* position: fixed; */
  display: flex;
}
.Default-layout-section {
  width: 16rem;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-x: hidden;
  box-shadow: 0px 50px 40px rgba(36, 0, 70, 0.1);
}

.dashboard-navigation__brand {
  width: 16rem;
  display: block;
  padding: 1.4375rem 7rem 0rem 7rem;
  font-size: 40px;
  color: #00932b;
  font-weight: 600;
  font-family: Roboto;
}

.dashboard-navigation-list-item {
  margin: -20px 1rem 0rem 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  grid-column-gap: 1.125rem;
}
.dashboard-navigation-link {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.dashboard-navigation-list-item > p {
  color: #afacab;
  font-family: Roboto;
}

a {
  color: #c45656;
  border-radius: 0.25rem;
  text-decoration: none;
}

/* Dashboard Section  Styles */
.Dashboard-section {
  display: flex;
  width: 100%;
}

.dashboard-right-content {
  width: 100%;
}
.Dashboard-navbar-section {
  background: fff;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.Dashboard-navbar-logo {
  display: flex;
  grid-column-gap: 1.5rem;
  margin-left: 20px;
}

.Dashboard-navbar-logo > p {
  color: #00932b;
  font-size: 1rem;
  font-weight: 600;
  font-family: Roboto;
  letter-spacing: 2px;
  padding-top: 2px;
}

.dashboard-details {
  height: 90vh;
  background: #ecffeb;
}
.navigation-toggle {
  margin-top: 17px;
  color: #f0d4d5;
}

.admin-profile {
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
  margin-right: 30px;
}
.admin-details {
  display: flex;
  gap: 0.5rem;
}
.admin-details > p {
  margin-top: 3px;
}
.admin-image {
  width: 30px;
  height: 30px;
  border-radius: 90px;
}

.add-new-consultant {
}
.dashboard-table {
  width: 80%;
  margin: auto;
}

.dashboard-table > h1 {
  color: #00932b;
  padding-top: 15px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 1.5rem;
}
.dashboard-button-flex {
  display: flex;
  justify-content: flex-end;
}

.dashboard-button {
  background-color: #00932b;
  color: white;
  display: flex;
  gap: 0.5rem;
  width: 320px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 10px;
}
.dashboard-button > p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Roboto;
}

.dashboard-table-details {
  background-color: #fff;
  height: 50vh;
  margin-top: 30px;
}

.dashboard-search-input {
  display: flex;
  justify-content: flex-end;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  color: #a6a891;
}

.trash-icon {
  color: red;
}

@media screen and (max-width: 1200px) {
  .Default-layout-section {
    display: none;
  }

  .dashboard-button-flex {
    /* display: flex;
  flex-direction: column; */
  }
}
